#works {
	background-color: #fafafa;
	padding: 80px 0;
}
#works .block-heading p:last-of-type {
	margin: 0;
}
#works .works-wrapper .each-works {
	position: relative;
	width: calc(33.3% - 10px);
	float: left;
	margin: 0 2px 5px;
	text-decoration: none;
	outline: 0 none;
	overflow: hidden;
}
#works .each-works img {
	width: 100%;
	height: 100%;
}
#works .each-works .hover-cont-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.2);
	display: block;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	padding: 20px;
}
#works .each-works .hover-cont-wrap .p-title {
	font-size: 22px;
	color: #fff;
	position: relative;
	top: -100px;
	transition: top 0.3s ease-in-out;
}
#works .each-works .hover-cont-wrap .p-desc {
	position: relative;
	top: 100px;
	transition: top 0.3s ease-in-out;
	color: #fff;
	margin: 0;
}
#works .each-works .hover-cont-wrap .icon-div {
	font-size: 25px;
}
#works .each-works .hover-cont-wrap .hover-cont-block {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#works .works-wrapper .each-works:hover .hover-cont-wrap {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
#works .works-wrapper .each-works:hover .hover-cont-wrap .p-title, #works .works-wrapper .each-works:hover .hover-cont-wrap .p-desc {
	top: 0;
	transition: top 0.3s ease-in-out;
}
.fancybox-toolbar button {
	display: none !important;
}
.fancybox-toolbar .fancybox-button.fancybox-button--close {
	display: inline-block !important;
}#works {
	background-color: #fafafa;
	padding: 80px 0;
}
#works .block-heading p:last-of-type {
	margin: 0;
}
#works .works-wrapper .each-works {
	position: relative;
	width: calc(33.3% - 10px);
	float: left;
	margin: 0 2px 5px;
	text-decoration: none;
	outline: 0 none;
	overflow: hidden;
}
#works .each-works img {
	width: 100%;
	height: 100%;
}
#works .each-works .hover-cont-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.2);
	display: block;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	padding: 20px;
}
#works .each-works .hover-cont-wrap .p-title {
	font-size: 22px;
	color: #fff;
	position: relative;
	top: -100px;
	transition: top 0.3s ease-in-out;
}
#works .each-works .hover-cont-wrap .p-desc {
	position: relative;
	top: 100px;
	transition: top 0.3s ease-in-out;
	color: #fff;
	margin: 0;
}
#works .each-works .hover-cont-wrap .icon-div {
	font-size: 25px;
}
#works .each-works .hover-cont-wrap .hover-cont-block {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#works .works-wrapper .each-works:hover .hover-cont-wrap {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
#works .works-wrapper .each-works:hover .hover-cont-wrap .p-title, #works .works-wrapper .each-works:hover .hover-cont-wrap .p-desc {
	top: 0;
	transition: top 0.3s ease-in-out;
}
.fancybox-toolbar button {
	display: none !important;
}
.fancybox-toolbar .fancybox-button.fancybox-button--close {
	display: inline-block !important;
}